.createlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;

  .forms {
    display: flex;
    align-items: center;
    width: 200%;
    height: 350px;
    transition: height 0.2s ease;
  }

  &.active {
    .form {
      margin-left: -50%;
      opacity: 0;
      transition: margin-left 0.18s ease, opacity 0.15s ease;
    }

    .forms {
      height: 600px;
    }
  }

  .form {
    padding: 30px;
    width: 50%;
    background-color: #fff;
    transition: margin-left 0.18s ease;

    .title {
      position: relative;
      text-align: center;
      font-size: 27px;
      font-weight: 600;
    }

    .input-field {
      height: 50px;
      margin-top: 30px;
      position: relative;

      input {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0 60px;
        transition: all 0.2s ease;
        background-color: #f0f0f0;
        outline: none;
        border: none;
        border-radius: 50px;
        font-weight: 600;
        font-size: 15px;
      }

      i {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        color: #999;
        font-size: 23px;

        &.icon {
          left: 0;
        }
      }
    }
    
    .checkbox-text {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .checkbox-content {
        display: flex;
        align-items: center;
        
        input {
          margin: 0 8px 0 -2px;
          accent-color: #4070f4;
        }
      }
    }

    a {
      &.text {
        color: #4070f4;
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .text {
      color: #333;
      font-size: 14px;
    }

    .button {
      margin-top: 35px;

      input {
        border: none;
        background-color: #4070f4;
        color: #fff;
        letter-spacing: 1px;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: #265df2;
        }
      }
    }
  }
}