.sections {
    margin-top: 100px;
}

.left-section {
    float: left;

    h1 {
        color: white;
        padding: 40px;
    }

    h3 {
        color: white;
        padding-left: 40px;
        padding-right: 40px;
        max-width: 500px;
    }
}

.right-section {
    float: right;

    img {
        padding-right: 50px;
        margin-top: 50px;
        width: 200px;
        height: 400px;
        margin-bottom: 150px;
    }
}